.root {
  &__filter {
    grid-area: filters;
  }
  &__categories {
    grid-area: categories;

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
  }
  &__radar {
    grid-area: radar;
  }
  &__employee {
    grid-area: employee;
  }
  &__upgrade {
    grid-area: upgrade;
    position: relative;
  }
  &__bar {
    grid-area: bar;
  }
}
