@import '../../styles/vars';

.root {
  display: flex;
  gap: 12px;
  height: 100%;

  &_img {
    width: 194px;
    height: 194px;
    padding: 24px 16px;

    background-color: $bgInfoColor;
    border-radius: 6px;

    @media (max-width: 1440px) {
      width: 135px;
      height: 135px;
    }
  }

  &__left {
    display: grid;
    flex-direction: column;
    gap: 12px;
    grid-template-rows: 194px auto;

    @media (max-width: 1440px) {
      grid-template-rows: 135px auto;
    }
  }

  &__info {
    display: flex;
    width: 100%;
    padding: 24px 16px;

    background-color: $bgInfoColor;
    border-radius: 6px;

    ul {
      display: flex;
      flex-direction: column;
      gap: 8px;

      width: 100%;
      margin-bottom: 0;

      li {
        display: flex;
        flex-direction: column;
        gap: 6px;

        h4 {
        }

        p {
          background-color: $whiteColor;
          padding: 4px 6px;
          border-radius: $mainBR;
        }
      }
    }
  }
}
