@import '../../styles/vars';

.root {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 12px;

  height: 100%;
  max-height: calc($index * 17.586);
  overflow-x: auto;

  &__img {
    padding: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 0;

    background-color: $bgInfoColor;
    border-radius: 6px;

    @media (max-width: 1440px) {
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .root__info {
      flex-shrink: 1;
      flex-grow: 1;
    }

    @media (max-width: 1440px) {
    }
  }

  &__right {
  }

  &__info {
    display: flex;
    width: 100%;
    padding: 24px 16px;

    background-color: $bgInfoColor;
    border-radius: 6px;

    ul {
      display: flex;
      flex-direction: column;
      gap: 8px;

      width: 100%;
      margin-bottom: 0;

      li {
        display: flex;
        flex-direction: column;
        gap: 6px;

        h4 {
        }

        p {
          background-color: $whiteColor;
          padding: 4px 6px;
          border-radius: $mainBR;
        }
      }
    }
  }

  @media (max-width: 1760px) {
    max-height: calc($index * 20.888);
  }
  @media (max-width: 1504px) {
    max-height: calc($index * 22.2061);
  }
}
