$mainColor: #ffffff;
$secondColor: #9c9393;
$activeColor: #444444;
$borderColor: #bebebe;
$greenColor: #c2eab4;
$opacityGreenColor: rgba(194, 234, 180, 0.6);

$heightHeader: 64px;

$horPadding: 32px;
$verPadding: 16px;
