$bgLinear: linear-gradient(183deg, #7d96cb 79.14%, #3e4b65 123.35%);

$bgInfoColor: #adbcdc;
$whiteColor: #ffffff;
$btnColor: #8da5d6;
$titleColor: #7689ad;
$secondColor: #516181;
$activeColor: #515e78;
$borderColor: #bebebe;
$purpleColor: #ef8eff;
$optionsColor: #d1d9eb;

$heightHeader: 86px;

$horPadding: 32px;
$verPadding: 16px;

$maingap: 20px;
$mainBR: 4px;

$frDesktop: calc(33.333333% - 40px);
$index: calc(1vh + 1vw);
