@import '../../styles/vars';
@import '../../styles/mixins';

.root {
  display: flex;
  flex-direction: column;
  gap: 16px;

  height: 100%;

  &_title {
    @include titleDashletStyles();
  }

  &__chartWrapper {
    display: flex;
    align-self: center;
    flex-grow: 1;
    flex-shrink: 1;
  }
}
