@import '../../styles/vars';
@import '../../styles/mixins';

.root {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &_title {
    @include titleDashletStyles();
  }

  &__chartWrapper {
    display: flex;
    align-self: center;
  }
}
