@import '../../styles/mixins';
@import '../../styles/vars';

.root {
  display: flex;
  align-items: center;
  gap: 8px;

  &_search {
    background-color: $btnColor;
    border-radius: $mainBR;
    color: black;
    font-size: inherit !important;

    width: 100%;
    min-width: 136px;
    // height: 100%;
    padding: 4.5px 12px;

    &::-webkit-input-placeholder {
      color: white;
    }
    &::-moz-placeholder {
      color: white;
    } /* Firefox 19+ */
    &:-moz-placeholder {
      color: white;
    } /* Firefox 18- */
    &:-ms-input-placeholder {
      color: white;
    }

    @media (max-width: 1760px) {
    }
  }

  &_btn {
    @include btnStyles();

    // height: 100%;
    line-height: 0;
    padding: 7.5px 12px;

    &:hover {
      @include btnHover();
    }
  }

  @media (max-width: 1760px) {
    flex-wrap: wrap;
  }
}
