@import '../../styles/vars';

.root {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 20px;
  grid-template-areas:
    'filters categories radar'
    'employee upgrade radar'
    'employee bar bar';

  // border: 1px solid $borderColor;
  // border-radius: 4px;
  // padding: 24px;
}
