.root {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%;
  height: 100%;

  &__filters {
  }

  &__grid {
  }

  &__deps {
    grid-area: deps;
  }
  &__skills {
    grid-area: skills;
  }
  &__dynamic {
    grid-area: dynamic;
  }
}
