@import '../../styles/vars';
@import '../../styles/mixins';

.root {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &_title {
    align-self: center;

    border-radius: $mainBR;
    color: $whiteColor;
  }

  &__filters {
    display: flex;
    gap: 16px;
  }

  &_btn {
    @include btnStyles();

    line-height: 0;
    padding: 7.5px 12px;

    &:hover {
      @include btnHover();
    }
  }
}
