@import '../../styles/mixins';
@import '../../styles/vars';

.root {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;

  width: 100%;
  height: 100%;

  &_btn {
    @include btnStyles();

    display: flex;
    align-items: center;
    gap: 10px;

    &:hover {
      @include btnHover();
    }
  }

  &__categories {
    display: none;

    position: absolute;
    top: 39px;
    left: 0;
    z-index: 10;

    width: fit-content;
    height: fit-content;
    max-height: 277px;
    overflow: auto;
    padding: 10px;

    background-color: $optionsColor;
    box-shadow: inset 0px 0px 0px 1px $borderColor;
    border-radius: $mainBR;

    &_activated {
      display: block;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 4px;
      justify-content: center;
      margin-bottom: 0;

      li {
        padding: 4px 8px;
        border-radius: $mainBR;
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &:hover {
          opacity: 0.8;
          background-color: $btnColor;
        }
      }
    }
  }

  &__skills {
    display: flex;
    justify-content: space-between;
    flex-shrink: 1;
    flex-grow: 1;

    width: 100%;

    &__list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 45%;

      h3 {
        color: $whiteColor;
        font-size: 1rem;
        font-weight: 600;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 8px;

        margin-bottom: 0;
        padding: 16px;
        overflow: auto;
        height: 100%;
        max-height: calc($index * 5.03);

        background-color: $bgInfoColor;
        border-radius: 6px;

        li {
          position: relative;

          padding-left: 20px;
          border-radius: $mainBR;

          background-color: $whiteColor;

          &::before {
            position: absolute;
            content: '';
            top: 0.5rem;
            left: 10px;

            width: 4px;
            height: 4px;
            border-radius: 100%;
            background-color: black;
          }
        }

        @media (max-width: 1760px) {
          max-height: calc($index * 6.353);
        }
      }
    }
  }
}
