@import '../../styles/mixins';
@import '../../styles/vars';

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10%;
  width: 100%;

  &_btn {
    @include btnStyles();

    border-radius: 0;

    &:hover {
      @include btnHover();
    }
  }

  &__categories {
    position: absolute;
    top: 39px;
    left: 0;
    z-index: 10;

    width: 200px;
    height: fit-content;
    padding: 10px;
    background-color: $mainColor;
    box-shadow: inset 0px 0px 0px 1px $borderColor;
    border-radius: 6px;

    display: none;

    &_activated {
      display: block;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 4px;
      justify-content: center;
      margin-bottom: 0;

      li {
        padding: 4px 8px;
        border-radius: 4px;
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &:hover {
          opacity: 0.8;
          background-color: $greenColor;
        }
      }
    }
  }

  &__skills {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    // gap: 16px;
    width: 100%;
    height: 100%;

    &__list {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;

      h3 {
        font-size: 1rem;
        font-weight: 600;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 8px;

        margin-bottom: 0;
        padding: 12px 24px;
        margin-left: 24px;
        overflow: auto;
        max-height: 200px;

        background-color: $greenColor;

        li {
          list-style: disc;
        }
      }
    }
  }
}
