@import '../../styles/vars';

.root {
  &__filter {
    grid-area: filters;
  }
  &__categories {
    grid-area: categories;
  }
  &__radar {
    grid-area: radar;
  }
  &__employee {
    grid-area: employee;
  }
  &__upgrade {
    grid-area: upgrade;
  }
  &__bar {
    grid-area: bar;
  }
}
