@import '../../styles/vars';

.root {
  display: grid;
  grid-template-rows: repeat(3, 33px);
  gap: 12px;

  padding: 16px;
  margin-bottom: 0;
  max-height: calc($index * 6.05);
  height: 100%;
  overflow: auto;

  background-color: $bgInfoColor;
  border-radius: 6px;

  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    border-radius: $mainBR;
    background-color: $whiteColor;

    transition: 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      -webkit-box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.2);
    }
  }

  &__col {
    padding: 8px 10px;
  }
}
